body {
    color: rgba(255, 63, 80, 1);
    text-align: center;
    background-image: url(bg.jpeg);
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
}

.row {
    display: flex; /* This will make the columns sit side by side */
    justify-content: center; /* This will center the columns */
}

.column {
    margin: 0 10px; /* This will give some space between the columns */
}

.choices {
    display: none; /* Initially hide the choices */
    align-content: center;
    text-align: center;
}

.gifs {
    text-align: center;
    color: brown;
}

.search {
    color: black;
    align-content: center;
    text-align: center;
}

.results {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
